<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://lh6.googleusercontent.com/rIfflcoaDLMz3am1x4N28xcDuemiRJZQkwSROydZEDbRzc8Tdy7CZfyr-FiVNtA7dOEjhibtFTbIwC8G-IGZXbTr6gf8A2sr2u5jR6XUbhst_ANQ1RbvVjv0XNqikvT2AdsLZkw"
          alt="" height="200px" width="300px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Numquam nihil eos quasi soluta ipsum aspernatur omnis qui cumque enim,
       necessitatibus ducimus earum iure iste sint. Aut, atque vero! Nostrum, itaque.
    </a></p>
  </div>
</div>
