<div class="container__small-card">
  <div class="container__small-card-content">
      <div class="small-card__photo">
        <img src="https://lh6.googleusercontent.com/rIfflcoaDLMz3am1x4N28xcDuemiRJZQkwSROydZEDbRzc8Tdy7CZfyr-FiVNtA7dOEjhibtFTbIwC8G-IGZXbTr6gf8A2sr2u5jR6XUbhst_ANQ1RbvVjv0XNqikvT2AdsLZkw"
              alt="">
      </div>
      <div class="small-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
      </div>

    </div>

    <div class="container__small-card-separator">
      <hr/>
    </div>
  </div>

